@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
body{
    padding-top: 80px;
}
nav{
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
}
.about{
    display: hidden;
}
.icon{
    display: hidden;
}
.textcon{
    display: hidden;
}
.head{
    display: hidden;
}
:root{
    background-color:#1A1A1D;
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.box{
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0;
}
.ac1{
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0;
}
.ac2{
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0;
}
.ac3{
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0;
}
.c1{
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0;
}
.c2{
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0;
}
.c3{
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0;
}
.c4{
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0;
}
.cer{
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0;
}
.about{
    height: 200px;
}
.conney{
    display: hidden;
}
.textcon{
    color: white;
}